</br>
</br>

</br>

</br>



</br></br>


  <div class='animelist'>
    <h3><%= @genre if @animes_in_genre_array %></h3>
</div>

<%= @message if @animes_in_genre_array.empty? %>
<% @animes_in_genre_array.each do |anime| %>
  <div class='animelist'>
  <a href="/anime/<%= anime.slug %>"><img src="<%= anime.img_url %>" height="250" ><a>
  <h3><%= link_to anime.title, "/anime/#{anime.slug}"  %></h3>
  <h4><b>Description:</b></h4> <h5><%= anime.description %></h5>
  <h4><b>Score:</b></h4> <h5><%= anime.score.round(2) %> out of 5</h5>
  </div>
<% end %>
  <div class='animelist'>

<%= will_paginate @animes_in_genre_array, renderer: BootstrapPagination::Rails %>
  </div>
