</br>
</br>
</br>
</br>





  <div>


  </div>
    <div id="content">
      <%= form_for @anime do |f| %>
        <div class="field">
          <%= f.text_field :title, :placeholder => 'Enter in a title', :size => 60%>
          </br>
          <%= @error if @error %>
    <% end %>
  </body>

</div>

</div>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


</br>
</br>
</br>
</br>


</br>
</br>
</br>
</br>


</br>
</br>


<div class="container">
	<div class="row">
  
      	<div class="table-responsive">
        <table class="table table-hover">

          <tbody>

<% Genre.all.in_groups_of(5) do |arr| %>
  <tr> 
  <% arr.compact.each do |genre| %>
    <td> <%= link_to genre.name, "/genres/#{genre.name}" %><%= "[#{genre.animes.count.to_s}]" %>
    </td>
  <% end %>
  </tr>
<% end %>




          </tbody>
        </table>
      </div>
      
	</div>
</div>
