</br></br></br></br>

<div class='animelist'>
<img src="<%= @anime.img_url %>" height="250" >
<h2><%= @anime.title %></h2>


<% if current_user %>
  <% if !(current_user.animes.include? Anime.find_by(:title => @anime.title)) %>
    <%= link_to 'Add to Watch List', "/add_to_watch_list/#{@anime.title}" %>
  <% else %>
    <%= "Already in your Watch List" %>
  <% end %>
<% else %>
   <%= link_to "Login to add to Watch List", "/auth/facebook"%>
 <% end %>

<h4>Description:</h4>
<h6><%= @anime.description %></h6>


<h4>Community Score: &nbsp; <%= "#{@anime.score.round(2)} out of 5" %> &nbsp; &nbsp; 
Anime Status: &nbsp; <%= @anime.show_type %>, &nbsp; &nbsp; Start Date: &nbsp; <%= @anime.starting_date.strftime('%B %Y') %>, &nbsp; &nbsp; <%= @anime.show_status %>
<% if @anime.end_date %>
  :
<% else %>
  ,
<% end %>
&nbsp; <%= "#{@anime.end_date.strftime('%B %Y')}," if @anime.end_date %> &nbsp; <%= "#{@anime.eps_count} episodes." if @anime.eps_count && @anime.eps_count > "1" %> &nbsp; <%= "#{@anime.eps_length} minutes." if @anime.show_type != "TV" %>
</h4>


<h4>Genre:  &nbsp;
<% if @response %>
		<% @response.body["genres"].each do |genre| %>
  	<% genre = Genre.all.find_by(:name => genre['name']) %>
		<%= link_to genre.name, "/genres/#{genre.name}" %>   &nbsp;  &nbsp;
	<% end %>

<% else %>
		<% @anime.genres.each do |genre| %>
		<%= link_to genre.name, "/genres/#{genre.name}" %> &nbsp;  &nbsp; 
	<% end %>
	
<% end %>
  </h4>

</br>

</br>
</br>

<div id='fix_margin'>
<% @video_ids.each do |video_id| %>

  <iframe height="215" src="https://www.youtube.com/embed/<%=video_id%>" frameborder="0" allowfullscreen></iframe>
<% end %>
  </div>



  </br></br></br></br></br></br>
