</br></br></br></br>

<img src="<%= @anime.img_url %>" height="250" >
<h2><%= @anime.title %></h2><br>


<% if current_user %>
  <% if !(current_user.animes.include? Anime.find_by(:title => @anime.title)) %>
    <%= link_to 'Add to Watch List', "/add_to_watch_list/#{@anime.title}" %>
  <% else %>
    <%= "Already in your Watch List" %>
  <% end %>
<% else %>
   <%= link_to "Login to add to Watch List", "/auth/facebook"%>
 <% end %>

<h4>Description:</h4><br>
<h6><%= @anime.description %></h6><br>
          
<h4>Community Score:</h4> <%= @anime.score.round(2) %><br>

<h4>Genre:</h4>
<% if @response %>
		<% @response.body["genres"].each do |genre| %>
  	<% genre = Genre.all.find_by(:name => genre['name']) %>
		<%= link_to genre.name, "/genres/#{genre.name}" %>  </br>
	<% end %>

<% else %>
		<% @anime.genres.each do |genre| %>
		<%= link_to genre.name, "/genres/#{genre.name}" %>  </br>
	<% end %>
	
<% end %>

</br>
</br>

<div id='fix_margin'>
<% @video_ids.each do |video_id| %>

  <iframe height="215" src="https://www.youtube.com/embed/<%=video_id%>" frameborder="0" allowfullscreen></iframe>
<% end %>
  </div>
