</br>
</br>
</br>
</br>


<% @animes.each do |anime| %>
  <div class='animelist'>
    <a href="/anime/<%= anime.slug %>"><img src="<%= anime.img_url %>" height="250" ></a></br>
    <%= link_to anime.title, "/anime/#{anime.slug}"  %></br>
      Score: <%= anime.score.round(2) %> 
</br></br>

  <%= anime.description %><br><br>
</div>
<% end %>
 


